<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chemical Induced Differential Gene Expression Prediction on LINCS Database</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html{
            overflow: hidden;
        }

        body{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }


        #login-form-container{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        footer{
            margin-top: auto;
        }
    </style>
</head>	
<body>
    <div id="login-form-container">
        <form action="predict" method="GET">
            <div class="card" style="width: 512px">
            <div class="card-content">
                <div class="is-size-4 has-text-centered">Chemical Induced Differential Gene Expression Prediction</div> 
                <br>
                <div class="content">

                    <p class="control">
                        Chemical (in SMILES form): &#8201 &#8201 &#8201 &#8201
                        <input type="text has-text-right" id="smiles" name="smiles" required minlength="0" maxlength="100" size="50" >
                    </p>

                    <div class="field">
                        <p class="control">
                        Descriptor: &#8195 &#8194 &#8201
                            <select name="mode">
                                <option value ="jtvae">JTVAE</option>
                                <option value ="ecfp">ECFP</option>
                            </select> 
                        </p>
                    </div>

                    <div class="field">
                        <p class="control" >
                            Cell Line: &#8195 &#8194 &#8195 
                            <select name="cell_line">
                                <option value ="A549">A549</option>
                                <option value ="MCF7">MCF7</option>
                                <option value ="PC3">PC3</option>
                                <option value ="VCAP">VCAP</option>
                            </select> 
                        </p>
                    </div>

                    <div class="field">
                        <button class="button is-fullwidth is-rounded is-success">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <footer class="footer">
        <div class="content has-text-centered">
            <p>
                This website provides the results of the work on the prediction and optimization of drug-induced gene expression by TOBB-ETU CBML lab. The study is funded by TÜBİTAK (Grant no : 118E759). <br> More details and accompanying manuscipt will be available soon.
            </p>
        </div>
    </footer>
    </div>


</body>    

</html>
